openapi: 3.0.3
info:
  title: Wager Futures Players API
  description: Wager API is a modern sports betting data platform providing real-time sports odds, player props, futures markets, and fantasy sports data. The API enables developers to build sports betting applications, bots, and predictive models with a single integration. Covers NFL, NCAA, NBA, MLB, NHL, soccer, tennis, and golf with real-time spreads, moneylines, totals, player statistics, projections, injury reports, and depth charts.
  version: 1.0.0
  contact:
    url: https://wagerapi.com/
    email: contact@wagerapi.com
servers:
- url: https://api.wagerapi.com
  description: Wager API Production
security:
- apiKey: []
tags:
- name: Players
  description: Player statistics, projections, and injury information
paths:
  /v1/players:
    get:
      operationId: getPlayers
      summary: Get Players
      description: Returns player information including profile data, current team, position, and status. Used to resolve player IDs for props and fantasy data endpoints.
      tags:
      - Players
      parameters:
      - name: sport
        in: query
        required: true
        schema:
          type: string
          enum:
          - nfl
          - ncaaf
          - ncaab
          - nba
          - mlb
          - nhl
          - soccer
          - tennis
          - golf
        description: Sport identifier
      - name: team_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by team identifier
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Search players by name
      responses:
        '200':
          description: Array of players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized - invalid API key
  /v1/players/{playerId}/stats:
    get:
      operationId: getPlayerStats
      summary: Get Player Statistics
      description: Returns player statistics for a specific player including current season stats, game-by-game logs, and historical performance data. Available stats vary by sport.
      tags:
      - Players
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
        description: Player identifier
      - name: season
        in: query
        required: false
        schema:
          type: string
        description: Season year (e.g. 2025 or 2025-26)
      - name: week
        in: query
        required: false
        schema:
          type: integer
        description: Week number for weekly sports (NFL, NCAA)
      responses:
        '200':
          description: Player statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStats'
        '401':
          description: Unauthorized - invalid API key
        '404':
          description: Player not found
  /v1/players/{playerId}/projections:
    get:
      operationId: getPlayerProjections
      summary: Get Player Projections
      description: Returns statistical projections for a specific player for upcoming games including projected fantasy points, statistical categories, and model confidence. Used for fantasy sports lineup decisions and prop betting analysis.
      tags:
      - Players
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
        description: Player identifier
      - name: game_id
        in: query
        required: false
        schema:
          type: string
        description: Specific game for projections
      responses:
        '200':
          description: Player projections for upcoming games
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerProjections'
        '401':
          description: Unauthorized - invalid API key
        '404':
          description: Player not found
  /v1/injuries:
    get:
      operationId: getInjuryReports
      summary: Get Injury Reports
      description: Returns current injury reports for players across a specified sport, including injury type, practice status, game status, and expected return timeline. Critical data for fantasy sports lineup decisions and prop betting.
      tags:
      - Players
      parameters:
      - name: sport
        in: query
        required: true
        schema:
          type: string
          enum:
          - nfl
          - ncaaf
          - ncaab
          - nba
          - mlb
          - nhl
          - soccer
          - tennis
          - golf
        description: Sport identifier
        example: nfl
      - name: team_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by team
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - questionable
          - doubtful
          - out
          - ir
          - day_to_day
        description: Filter by injury status
      responses:
        '200':
          description: Array of injury reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InjuryReport'
        '401':
          description: Unauthorized - invalid API key
  /v1/depth-charts:
    get:
      operationId: getDepthCharts
      summary: Get Depth Charts
      description: Returns current depth charts for teams in a specified sport, showing positional depth ordering and starter designations. Used for lineup analysis and fantasy sports applications.
      tags:
      - Players
      parameters:
      - name: sport
        in: query
        required: true
        schema:
          type: string
          enum:
          - nfl
          - ncaaf
          - nba
          - mlb
          - nhl
        description: Sport identifier
        example: nfl
      - name: team_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by team identifier
      responses:
        '200':
          description: Array of depth chart entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DepthChartEntry'
        '401':
          description: Unauthorized - invalid API key
components:
  schemas:
    PlayerProjections:
      type: object
      properties:
        player_id:
          type: string
        player_name:
          type: string
        projections:
          type: array
          items:
            type: object
            properties:
              game_id:
                type: string
              opponent:
                type: string
              game_date:
                type: string
                format: date
              fantasy_points:
                type: number
                format: double
              stats:
                type: object
                additionalProperties:
                  type: number
    DepthChartEntry:
      type: object
      properties:
        team_id:
          type: string
        team_name:
          type: string
        sport:
          type: string
        positions:
          type: array
          items:
            type: object
            properties:
              position:
                type: string
                description: Position designation
              players:
                type: array
                items:
                  type: object
                  properties:
                    depth_order:
                      type: integer
                      description: Depth position (1 = starter)
                    player_id:
                      type: string
                    player_name:
                      type: string
                    status:
                      type: string
    InjuryReport:
      type: object
      properties:
        player_id:
          type: string
          description: Player identifier
        player_name:
          type: string
          description: Player full name
        team:
          type: string
          description: Team name
        position:
          type: string
          description: Player position
        injury_type:
          type: string
          description: Type of injury
          example: Hamstring
        injury_status:
          type: string
          enum:
          - questionable
          - doubtful
          - out
          - ir
          - day_to_day
          description: Current injury designation
        practice_status:
          type: string
          description: Practice participation status
          example: Limited
        return_timeline:
          type: string
          description: Expected return estimate
        updated_at:
          type: string
          format: date-time
    Player:
      type: object
      properties:
        player_id:
          type: string
          description: Unique player identifier
        first_name:
          type: string
          description: Player first name
        last_name:
          type: string
          description: Player last name
        full_name:
          type: string
          description: Player full name
        position:
          type: string
          description: Playing position
          example: QB
        team_id:
          type: string
          description: Current team identifier
        team_name:
          type: string
          description: Current team name
        sport:
          type: string
          description: Sport identifier
        status:
          type: string
          enum:
          - active
          - injured
          - inactive
          description: Player roster status
    PlayerStats:
      type: object
      properties:
        player_id:
          type: string
          description: Player identifier
        player_name:
          type: string
          description: Player full name
        season:
          type: string
          description: Season identifier
        stats:
          type: object
          additionalProperties:
            type: number
          description: Stat category to value mapping
        game_log:
          type: array
          items:
            $ref: '#/components/schemas/GameStats'
    GameStats:
      type: object
      properties:
        game_id:
          type: string
        game_date:
          type: string
          format: date
        opponent:
          type: string
        stats:
          type: object
          additionalProperties:
            type: number
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key obtained from Wager API, request via wagerapi.com
